# Object files
*.o
*.obj

# Executables (Specific to your Makefile)
server
client

# Standard Executables
*.exe
*.out
*.app
a.out

# Libraries
*.lib
*.a
*.dll
*.so
*.dylib

# Debug files
*.dSYM/
*.pdb
*.su

# Data directory (Corrected)
data/

extensions.txt
server.log
